body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;}

.primary-nav{
  background-color:white;
  padding: 8px 8px;

}
nav a{
  margin-left: 16px ;
  font-size: 18px;
}
nav a.active{
  /* text-decoration: underline solid skyblue;; */
  /* color: rgb(red, green, blue); */
  font-weight: bold;
  border-bottom: 4px solid rgb(53, 48, 48); 
  font-size: 18px;
}
.login-button {
  color:black;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px 5px;
  font-size: 18px;
  cursor: pointer;
  border-bottom:'none';
}
.login-button.active {
  color: white;
  background-color:black ;
  border: black;
  border-bottom: none;
}
.login-button:hover {
  background-color: black; /* Change background color to black on hover */
  color: white; /* Change text color to white on hover */
}
.container{
  background-color: blanchedalmond;
  padding-top: 100px;
  padding-bottom: 50px;
}
.nutriinfo{
  padding-top: 40px;
}

